
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); */
  
  html {
    font-size: 62.5% !important;
  }
  body{
   font-family: "Poppins" !important;
  }
  .fs14px{ font-size: 1.4rem !important;}
 .fs16px{ font-size: 1.6rem !important;}
 .fs18px{ font-size: 1.8rem !important;}
 .fs20px{ font-size: 2rem !important;}
 .fontWeight700 { font-weight:700px !important;}

.MuiStepButton-root{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.MuiBox-root.css-19kzrtu{
  padding: 0;
}

/* COLORS  */
.bg-brand {
  background-color: #B58B5D;
}

.bg-light-gray{
  background-color: #F7F8FD;
}

.err-color{
  color:#FF0000
}

.bg-success {
background-color: #47CD75;
}

.bg-success--dark {
  background-color: #347D00;
  }

  .color-success--dark {
    color: #347D00;
    }
/* BORDER   */

.border-circle{
  border-radius: 100%;
}

.border-1-gray{
  border:'1px solid #DDDDDD' ;
}

.radius-10{
  border-radius: 10px;
}

.flex-row-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center{
  display: flex;
  flex-direction:'row';
  align-items: center;
  justify-content: center;
}

/* //btn group  */

.active-btn__group{
  background-color: #B58B5D !important;
  color:#fff !important;
  border:'1px solid #B58B5D' !important;
}
 .SuccessDialog {
     background-color: transparent !important;
     box-shadow: none !important;
     transition: none !important;
   }
   .succesdialogitem {
     position: absolute !important;
     top: 50px !important;
   }
   .continue-btn {
     margin-top: 20px !important;
     background-color: #76B33F !important;
     width: 60% !important;
     margin-left: auto !important;
     margin-right: auto !important;
     border-radius: 10px !important;
     color: #ffff !important;
     padding: 7px 0px !important;
     font-size: 16px !important;
     text-transform: capitalize !important;
     letter-spacing: 2px !important;
     font-family: "Oswald", sans-serif !important;
     font-style: normal !important;
     font-weight: 500 !important;
   }
   .wrong-btn {
     margin-top: 20px !important;
     background-color: #F00000 !important;
     width: 60% !important;
     margin-left: auto !important;
     margin-right: auto !important;
     border-radius: 10px !important;
     color: #ffff !important;
     padding: 7px 0px !important;
     font-size: 16px !important;
     text-transform: capitalize !important;
     letter-spacing: 2px !important;
     font-family: "Oswald", sans-serif !important;
     font-style: normal !important;
     font-weight: 600 !important;
   }
   
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 10px 0px 10px 5px !important;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  padding-left: 0px !important;
}

.MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root{
width: 120px !important;
}

.tab-color.MuiButtonBase-root.MuiTab-root.Mui-selected{
  color:#B58B5D !important;
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-readOnly.MuiInputBase-readOnly{
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7AC142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7AC142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.checkmark-wrong {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #F00000;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__circle_wrong {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #F00000 !important;
  fill: red !important;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@media (max-width: 56.25em) {
    html {
      font-size: 55% !important;
    }
  }